body {
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    padding-bottom: 50px;
}
h3 {
    margin-top: 50px;
}
li {
    margin: 25px 50px 0 0;
}
table {
    width: 1400px;
    margin: 0 50px 0 50px;
}
td {
width: 50%;
    vertical-align: top;
    padding-right: 60px;
}
#radar {
    width: 3000 !important;
}